body {
    height: 100%;
}

.shafferotoContainer {
    width: 1400px;
}

.photoPageContainer {
    display: flex;
}

.photosDiv {
    flex: 3;
    overflow-y: scroll;
    position: relative;
}

#openCloseIcon {
    top: 3px;
    position: absolute;
    right: 5px;
    /*position: fixed;*/
    /*right: 375px;*/
}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    /*border: 1px solid silver;*/
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
}

.dayOfPhotosDiv {
    margin-top: 0px;
    margin-bottom: 15px;
}

.dayOfPhotosLabel {
    margin: 0px;
    font-size: 13px;
    font-stretch: normal;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    font-stretch: normal;
    font-height: 48px;
    font-family: "Roboto", "RobotoDraft", Helvetica, Arial, sans-serif;
}
/*.flex-playlist-container {*/
/*padding: 0;*/
/*margin: 0;*/
/*list-style: none;*/
/*border: 1px solid silver;*/
/*-ms-box-orient: horizontal;*/
/*display: -webkit-box;*/
/*display: -moz-box;*/
/*display: -ms-flexbox;*/
/*display: -moz-flex;*/
/*display: -webkit-flex;*/
/*display: flex;*/
/*justify-content: space-around;*/
/*-webkit-justify-content: space-around;*/
/*}*/

.wrap    {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.photoThumbsDiv {
    margin: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: #f2f2f2;
    background: #f2f2f2;
    max-height: 240px;
}

.thumbLi {
    position: relative;
}

.thumbImg {
    /*width: 108px;*/
    /*height: 108px;*/
    padding: 4px;
}

.thumbSelector {
    position: absolute;
    top: 3px;
    left: 5px;
    opacity: 0.7;
}

.tagsInPhotos {
    margin-left: 5px;
    font-size: 12px;
    position: relative;
    top: -10px;
}

.metadata {
    flex: 1;
}

.metadataSubheading {
    margin-bottom: 2px;
}

.photoMetadata {
}

.tagsSection {
    margin-left: 16px;
}

.tagsList {
    max-height: 100px;
    overflow-y: scroll;
    margin: 0;
    padding: 0;
}

.searchSection {
    margin-left: 16px;
}

.tagsSubsection {
    margin-left: 16px;
}

.datesSubsection {
    margin-left: 16px;
    margin-top: -4px;
}



.leftColumn {
    width: 90px;
    text-align: right;
    display: inline-block;
}

.rightColumn {
    width: 132px;
    text-align: left;
    display: inline-block;
    padding-left: 2px;
}

.smallFont {
    font-size: small;
}

.mediumFont {
    font-size: medium;
}
.largeFont {
    font-size: large;
}

button:focus { outline: none; }

.plainButton {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 4px;
    padding-right: 4px;
    border: none;
    background: none;
}

.dateQueryTypeRadioFirst {
    margin: 0px 6px 0px 0px;
}

.dateQueryTypeRadio {
    margin: 0px 6px 0px 6px;
}

.dateLabel {
    display: inline-block;
    font-size: small;
    width: 40px;
}

.dateInput {
    width: 130px;
}

.dateLabelBetween {
    display: inline-block;
    font-size: small;
}

.width130 {
    width: 110px;
}

.mr4 {
    margin-right: 4px;
}

.tagQueryLeft {
    margin: 0px 6px 0px 0px;
}

.tagQueryRight {
    margin: 0px 6px 0px 4px;
}